w-text-block {
  &::part(root) {
    all: initial;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: #444;
  }

  &::part(primary) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(50, 49, 48);
    font-weight: 400;
    font-size: 20px;
  }

  &::part(secondary) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(96, 94, 92);
    font-weight: 400;
    font-size: 14px;
  }
}
